.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link-button {
  color: blue;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: left;
}

.link-button:hover,
.link-button:focus {
  text-decoration: underline;
}

.btn-link{
  margin: 0;
  text-align: left;
  white-space:normal !important;
  word-wrap: break-word; 
}

.talentbait-blue {
  background-color: #3e55f4
}

.reqtask-table {
  width: 94%;
  background-color: #E9ECEF
}
.heighttext{
  height:30px
}

.sized{
  width: 8%;
  height: auto;
}
.centered{
  width: 100%;
  height: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
